# Core functionality - changes here should be rare!
/src/app.py                   @dsarituraj
/src/backend/database.py      @dsarituraj
/src/backend/routers/auth.py  @dsarituraj

# The frontend will need refactored soon to be more object oriented.
/src/static/   @dsarituraj
